lab_1/src/*.mat
lab_1/src/*.tar.gz
lab_1/src/notMNIST_small
lab_1/src/notMNIST_large
lab_1/src/notMNIST_large
lab_3/src/tf_board
*/src/tf_board
lab_5/src/data
!lab_5/src/data/.keep
lab_6/src/sign-language-mnist
lab_6/src/sign-language-mnist.zip
lab_6/src/tf_board